@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
/* font-fmaily: 'Montserrat' */

html,
body {
    /* background: black; */
    position: relative;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: #2c2c2c;
}

.title-container {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    text-align: right;
    color: none;

    -webkit-text-stroke: 1px rgb(255, 183, 74);
    color: transparent;
}
.coming-soon {
    font-size: 6vw;
    text-align: center;
}
.title-group {
    display: flex;
    justify-content: center;
    gap: 1vw;

    font-size: 2.2vw;
}
.footer {
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    display: flex;
    flex-direction: column;
    font-family: Arial;
}
.footer p {
    margin: 0;
    color: rgba(0,0,0,.5);
}
.social {
    width: 100%;
    display: flex;
    justify-content: right;
}
.social img {
    height: 2em;
    width: 2em;
    opacity: .5;
}

.mySwiper {
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
    z-index: -1;

    box-shadow: -4px 0 4px rgba(0,0,0,.25),
                4px 0 4px rgba(0,0,0,.25),
                -4px 0 8px rgba(0,0,0,.25),
                4px 0 8px rgba(0,0,0,.25),
                -4px 0 16px rgba(0,0,0,.25),
                4px 0 16px rgba(0,0,0,.25);
}

.swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
}

/* BG IMAGES */
#swiper-0 {
    background-image: url('./images/8J3A9518-Edit-2-Edit.JPG');
}
#swiper-1 {
    background-image: url('./images/8J3A9523-Edit-2-Edit.JPG');
}
#swiper-2 {
    background-image: url('./images/8J3A9537-Edit-2-Edit.JPG');
}
#swiper-3 {
    background-image: url('./images/8J3A9556-Edit-2-Edit.JPG');
}
#swiper-4 {
    background-image: url('./images/8J3A9564-Edit-Edit.JPG');
}
#swiper-5 {
    background-image: url('./images/8J3A9583-Edit-Edit.JPG');
}
#swiper-6 {
    background-image: url('./images/8J3A9617-Edit-Edit.JPG');
}
#swiper-7 {
    background-image: url('./images/8J3A9654-Edit-Edit.JPG');
}
#swiper-8 {
    background-image: url('./images/8J3A9661-Edit-Edit.JPG');
}
#swiper-9 {
    background-image: url('./images/8J3A9674-Edit-Edit.JPG');
}

