@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
/* font-fmaily: 'Montserrat' */

html,
body {
    /* background: black; */
    position: relative;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: rgb(44, 44, 44);
}
::selection {
    background: none;
}
.info-container {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    text-align: right;
    color: none;

    -webkit-text-stroke: 1px rgb(255, 198, 74);
    color: transparent;
}

.coming-soon {
    font-size: 4vw;
    text-align: center;
}
.title-group {
    display: flex;
    justify-content: center;
    gap: 2vw;

    font-size: 2.4vw;
}
.footer {
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    display: flex;
    flex-direction: column;
    gap: .5vw;
    font-family: Arial;
}
.footer p {
    margin: 0;
    color: #7c7c7c40;
}
.social {
    width: 100%;
    display: flex;
    justify-content: right;
}
.social img {
    height: 2em;
    width: 2em;
    opacity: .5;
}

.mySwiper {
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
    z-index: -1;

    box-shadow: 4px 0 4px rgba(0,0,0,.15),
                4px 0 8px rgba(0,0,0,.15),
                4px 0 16px rgba(0,0,0,.15);
}

.swiper-slide {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

/* BG IMAGES */
#swiper-0 {
    background-image: url('./images/8J3A9518-Edit-2-Edit.JPG');
}
#swiper-1 {
    background-image: url('./images/8J3A9523-Edit-2-Edit.JPG');
}
#swiper-2 {
    background-image: url('./images/8J3A9537-Edit-2-Edit.JPG');
}
#swiper-3 {
    background-image: url('./images/8J3A9556-Edit-2-Edit.JPG');
}
#swiper-4 {
    background-image: url('./images/8J3A9564-Edit-Edit.JPG');
}
#swiper-5 {
    background-image: url('./images/8J3A9583-Edit-Edit.JPG');
}
#swiper-6 {
    background-image: url('./images/8J3A9617-Edit-Edit.JPG');
}
#swiper-7 {
    background-image: url('./images/8J3A9654-Edit-Edit.JPG');
}
#swiper-8 {
    background-image: url('./images/8J3A9661-Edit-Edit.JPG');
}
#swiper-9 {
    background-image: url('./images/8J3A9674-Edit-Edit.JPG');
}

@media only screen and (max-width: 600px) {
    .mySwiper {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        box-shadow: none;
    }

    .swiper-slide {
        background-position: center;
    }

    .info-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 75%;
        background-image: linear-gradient(
            rgba(15, 15, 15, 0),
            rgba(15, 15, 15, 1)
        );
    }
    .title-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    #title-0,
    #title-1 {
        font-size: 9vw;
    }
    .coming-soon {
        font-size: 8vw;
    }

    .footer {
        width: 100%;
    }
    .footer p {
        margin: 1em;
        font-size: .8em;
        color: rgba(255, 255, 255, 0.1);
        text-align: center;
    }
    .social{
        justify-content: center;
    }

}

